/* Ajustes generales (reseteo de formatos, fuentes...) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.end{
    justify-content: flex-end;
}
.start{
    justify-content: flex-start;
}
.between{
    justify-content: space-between;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
}
button:focus {
    outline: none;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

/* Barra de navegación e iconos correspondientes - Landing Page */

.barra-nav{
    width: 100%;
    height: 62px;
    background: linear-gradient(to right,#AB0769,#820053);
    display: flex;
}
.logo{
    width: 130px;
    height: 62px;
    background-color: white;
}
.icono-log-in{   
    margin: 16px 0px 16px 0px;
    width: 40px;
    height: 30px;
    filter: invert(100%);
    cursor: pointer;
}
.menu{
    margin: 17px 10px 17px 10px;
    width: 30px;
    height: 28px;
    filter: invert(100%);
    cursor: pointer;
}

/* Textos de reclamo - Landing Page */

.texto-reclamo-principal{
    font-family: 'Poppins', sans-serif;
    line-height: 48px;
    font-size: 37px;
    font-weight: 369px;
    color:rgb(48, 48, 48);
    text-align: center;
    margin: 50px 28px 15px 28px;
}
.texto-reclamo-secundario{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight:initial;
    text-align: center;
    color: rgb(67, 70, 73);
    margin: 16px 70px 50px 70px;
    line-height: 27px;
}

/* Formato de botones - Landing Page */

.botones{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.morado {
    width: 325px;
    height: 50px;
    background: linear-gradient(60deg,#AB0769,#820053);
    border-radius: 24px;
    border: none;
    text-align: center;
    padding: 8px;
    margin: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .1s;
}
.morado:hover {
    transform: translate(0, -1px);
    background: linear-gradient(60deg,#e70b8f,#b80175);
}
.morado:active {
    transform: translate(0, -1px) scale(.99);
} 

.blanco {
    width: 325px;
    height: 50px;
    background: white;
    border-radius: 24px;
    border: 3px solid #820053;
    text-align: center;
    padding: 8px;
    margin: 8px;
    color: #820053;
    font-weight: bold;
    cursor: pointer;
    transition: .1s;
}
.blanco:hover {
    transform: translate(0, -1px);
    color: #e70b8f;
    border: 3px solid #e70b8f;
}
.blanco:active {
    transform: translate(0, -1px) scale(.99);
} 