* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra-nav{
    width: 100%;
    height: 62px;
    background: linear-gradient(to right,#AB0769,#820053);
    display: flex;
}
.logo{
    width: 130px;
    height: 62px;
    background-color: white;

}
.icono-log-in{   
    margin: 16px 0px 16px 0px;
    width: 40px;
    height: 30px;
    filter: invert(100%);
    /*filter: invert(20%) sepia(100%) saturate(4000%);*/
    }
.menu{
    margin: 17px 10px 17px 10px;
    width: 30px;
    height: 28px;
    filter: invert(100%);
}
.end{
    justify-content: flex-end;
}
.start{
    justify-content: flex-start;
}
.between{
    justify-content: space-between;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
}
button:focus {
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&display=swap');

.texto-reclamo-principal{
    font-family: 'Poppins', sans-serif;
    line-height: 48px;
    font-size: 37px;
    font-weight: 369px;
    color:rgb(48, 48, 48);
    text-align: center;
    margin: 50px 28px 15px 28px;
}

.texto-reclamo-secundario{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight:initial;
    text-align: center;
    color: rgb(67, 70, 73);
    margin: 16px 65px 15px 65px;
    line-height: 27px;
}

