body, html, main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#headerbar {
    box-shadow: 0 -6px 16px rgba(0, 0, 0, .9)
}

.map-section-wrapper {
    /*height: calc(100vh - 3.625rem);*/
    height: 100%;
    overflow: hidden;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}


/* InfoWindow */


.info-window-ubicacion {
    display: flex;
    flex-direction: column;
}

.info-window-ubicacion .medicion {
    position: relative;
    display: flex;
    align-items: center;
}

.info-window-ubicacion .medicion span {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: .5rem;
}

.info-window-ubicacion button {
    margin-top: 1rem;
}

.info-window-ubicacion i {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 10%;
    width: 3rem;
    margin: .2rem;
}

.info-window-ubicacion header {
    text-align: center;
    border-bottom: 1px gray solid;
    padding-bottom: .8rem;
}

.info-window-ubicacion .info-sonda-id {
    color: gray;
    margin: 0 .8rem;
}
.info-window-ubicacion .info-sonda-id span {
    font-weight: bold;
}

.info-window-ubicacion i.humedad {
    color: #0484d9;
}

.info-window-ubicacion i.salinidad {
    color: #cacaca;
}

.info-window-ubicacion i.temperatura {
    color: #e56625;
}

.info-window-ubicacion i.luminosidad {
    color: #fcea47;
}


.info-window-ubicacionf .info {
    height: 20px;
    margin: .5rem;
}

.info-window h4 {
    text-align: center;
    margin-bottom: .6rem;
}

.info-window button {
    padding: .4rem 1.2rem;
}



#panelContainer {
    position: absolute;
    right: 0;
    transform: translateY(-32%);
    width: 100%;
    transition: .5s;
    z-index: 5;
}

#panelContainer.open.hide {
    transform: translateY(-50%);
}

#panelContainer.open {
    transform: translateY(-99%);
}

#panelContainer .panel_toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 95px;
    transition: .2s;
}


#panelContainer.open .panel_toolbar {
    height: 55px;
}

#panelContainer .panel_toolbar button {
    margin: 0 12px 40px 4px;
    padding: 1rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    border: none;
    height: min-content;
    opacity: 1;
    font-size: 1.2rem;
    color: gray;
    transition: .2s;
}

#panelContainer.open .panel_toolbar button {
    opacity: 1;
    padding: .7rem;
    font-size: 1rem;
}

#panelContainer .panel_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    max-height: 40vh;
    padding: .3rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .25);
    font-size: .9rem;
    opacity: 0;
    transition: .2s;
    overflow: hidden;
}

#panelContainer.open .panel_info  {
    opacity: 1;
}

.panel_info .panel_info_body .panel_info_body_header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel_info .panel_info_body {
    padding: .8em 1.2rem;
    text-align: justify;
    overflow: auto;
}

#panelContainer .panel_info .panel_info_buttons {
    display: flex;
}

.panel_info_buttons a {
    margin: .5rem;
}

.panel_info_buttons a:nth-child(1) {
    flex-grow: 1;
}


span.alert {
    padding: .2rem 1.3rem;
    font-size: .75rem;    
    border-radius: 20px;
    background: rgb(231, 231, 231);
    color: gray;
}

span.alert-risky {
    background: rgb(251, 244, 82);
    color: black;
}

span.alert-danger {
    background: rgb(247, 66, 66);
    color: white;
}

#panelContainer .panel_info a[type=button] {
    display: block;
    margin-bottom: .9rem;
}

/* Panel Graficas */

#panelGraficas {
    position: absolute;
    right: 0;
    transform: translateY(0%);
    width: 100%;
    transition: .5s;

    height: calc(100vh - 3.65rem);
    padding: 1rem;
    padding-top: 1.2rem;
    background: white;

    z-index: 2;

}

#panelGraficas header {
    text-align: center;
    margin-bottom: .8rem;
}

#panelGraficas.show {
    transform: translateY(-100%);
}

#btn-cerrar-panelGraficas {
    position: absolute;
    top: 1.3rem;
    right: 1.2rem;
    font-size: 1.3rem;
    color: var(--black);
}

.chart-container {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 900px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}


/* Popup busqueda */

#overlayPopup {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 90;
}

#overlayPopup.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 6px;
    padding: 1.4rem;
    text-align: center;
    position: relative;
    width: 600px;
    max-height: 70vh;
    margin: 1rem;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;

}

.popup #btn-cerrar-popup {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1rem;
    position: absolute;
    right: .6rem;
    top: .6rem;

    transition: .3s ease all;
    color: #8c8c8c;
    z-index: 10;
}

.popup #btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 1.8rem;
    margin-bottom: .2rem;
    opacity: 0;
}

.popup h4 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    opacity: 0;

}
.popup ul {
    overflow: scroll;
    min-height: 200px;
    max-height: 40vh;
}

.popup li {
    list-style: none;
    background: #ececec;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
}
.popup li:hover{
    background: #e5e5e5;
}

.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .3s ease .1s forwards; }
.popup.active h4 { animation: entradaSubtitulo .3s ease .1s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


#loggedAsPanel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,.5);
    color: white;
    padding: 1rem;
}

#loggedAsPanel span {
    font-weight: bold;
}



/* Media Queries */
@media(min-width: 1200px) {
    #panelContainer {
        width: 40vw;
    }
    #panelGraficas {
        width: 40vw;
    }
}