/* Ajustes generales (reseteo de formatos, fuentes...) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: 100%;
    height: 100%;
    overflow: auto;
    transition: .2s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Formato de botones */

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.button_primary,
.button_secondary {
    padding: .5rem 2rem;
    margin: .5rem;
    text-align: center;
    border-radius: 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
}

.button_primary {
    background: var(--main_gradient);
    color: white;
    border: none;
    padding: .7rem 2rem;
}

.button_primary:hover:not([disabled]) {
    transform: translate(0, -1px);
    background: linear-gradient(60deg, var(--primary_light), #b80175);
}

.button_primary:focus {
    background: linear-gradient(60deg, var(--primary_light), #ca1f83);
}

.button_primary:active {
    transform: translate(0, -1px) scale(.99);
}

.button_secondary {
    background: white;
    border: 2px solid var(--primary);
    color: var(--primary);
}

/*.button_secondary {
    background: rgb(243, 243, 243);
    border: 3px rgb(243, 243, 243) solid;
    color: rgb(196, 196, 196);
}*/

.button_secondary:hover {
    transform: translate(0, -1px);
    color: var(--primary_light);
    border: 3px solid var(--primary_light);
}

.button_secondary:active {
    transform: translate(0, -1px) scale(.99);
}

main {
    padding-top: 3.625rem;
}

.padding-container {
    padding: .8rem;
}

.anchor > a {
    position: absolute;
    left: 0px;
    top: -3.625rem;
}

.anchor {
    position: relative;
}

/* Global form */

.form-group {
    display: flex;
    flex-direction: column-reverse;
}

.form-group input[required] ~ label::after, .form-group textarea[required] ~ label::after {
    content: " *";
    color: red;
}

label {
    font-size: .8rem;
    font-weight: bold;
    color: var(--black);
}

input,
textarea,
select,
option {
    font-family: 'Poppins';
    width: 100%;
    border: none;
    margin-bottom: .8rem;
    padding: .8rem;
    background: rgb(243, 243, 243);
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: rgb(196, 196, 196);
    transition: .2s;
    font-size: .7rem;
}

input:focus,
textarea:focus {
    background: rgb(248, 248, 248);
    border-bottom: 2px var(--primary_light) solid;
    outline: none;
}

select:focus {
    background: rgb(248, 248, 248);
    outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
    transform: translate(0px, -6px);
    font-size: .6rem;
    color: lightgray;  
}

input[type=checkbox] {
    width: auto;
}

input[type=submit] {
    padding: .8rem;
    margin: .8rem 0;
}

input[disabled]{
    background: lightgray;
    opacity: .8;
}

textarea {
    resize: none;
}


/* Media queries */

@media(max-width:380px) {
    html {
        font-size: 85%;
    }
}

@media(max-width:350px) {
    html {
        font-size: 75%;
    }
}