/* Ajustes generales (reseteo de formatos, fuentes...) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: 100%;
    height: 100%;
    overflow: auto;
    transition: .2s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Formato de botones */

.button_primary,
.button_secondary {
    padding: .5rem 2rem;
    text-align: center;
    border-radius: 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s;
}

.button_primary {
    background: var(--main_gradient);
    color: white;
    border: none;
    padding: .7rem 2rem;
}

.button_primary:hover:not([disabled]) {
    transform: translate(0, -1px);
    background: linear-gradient(60deg, var(--primary), var(--primary));
}

.button_primary:focus {
    background: linear-gradient(60deg, var(--primary), var(--primary));
}

.button_primary:active {
    transform: translate(0, -1px) scale(.99);
}

.button_secondary {
    background: white;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.button_secondary:hover {
    transform: translate(0, -1px);
    color: var(--primary_light);
    border: 2px solid var(--primary_light);
}

.button_secondary:active {
    transform: translate(0, -1px) scale(.99);
}

main {
    padding-top: 3.625rem;
}

.container {
    width: 100%;
    margin: auto;
}

.padding-container {
    padding: .8rem;
}

.anchor > a[name] {
    position: absolute;
    left: 0;
    top: -3.625rem;
}

.anchor {
    position: relative;
}

/* Global form */

.form-group {
    display: flex;
    flex-direction: column-reverse;
    
}

.form-group input[required] ~ label::after, .form-group textarea[required] ~ label::after {
    content: " *";
    color: red;
}

label {
    font-size: .8rem;
    font-weight: bold;
    color: var(--black);
}

input,
textarea,
select,
option {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: none;
    margin-bottom: .8rem;
    padding: .8rem;
    background: rgb(243, 243, 243);
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: rgb(196, 196, 196);
    transition: .2s;
    font-size: .7rem;
}

input,
textarea {
    border-bottom: 2px transparent solid;
}

input:focus,
textarea:focus {
    background: rgb(248, 248, 248);
    border-bottom: 2px var(--primary_light) solid;
    outline: none;
}


select:focus {
    background: rgb(248, 248, 248);
    outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
    transform: translate(0px, -6px);
    font-size: .6rem;
    color: lightgray;  
}

input[type=checkbox] {
    width: auto;
}

input[type=submit] {
    *padding: .8rem;
    *margin: .8rem 0;
}

input:disabled, button:disabled {
    background: #f6f6f6;
    color: #e3e3e3;
}

input:disabled:hover, button:disabled:hover {
    background: #f6f6f6;
    color: #e3e3e3;
    cursor: auto;
    
}

textarea {
    resize: none;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid, option:focus:invalid {
    border-bottom: 2px red solid;
}



/* Custom switch */

.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 50px;
}

.switch input {
    display:none;
}

.switch .slider {
    background-color: #ff7878;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

.switch input:checked + .slider {
    background-color: #66bb6a;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

.d-none {
    display: none;
    visibility: hidden;
}

.v-hidden {
    visibility: hidden;
}

/* Media queries */

@media(max-width:380px) {
    html {
        font-size: 85%;
    }
}

@media(max-width:350px) {
    html {
        font-size: 75%;
    }
}

@media(min-width: 1024px) {
    .container {
        width: 80%;
    }
}