#headerbar {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.navbar {
    width: 100%;
    height: 3.7rem;
    display: flex;
}

.logo {
    width: auto;
    height: auto;
    max-width: 120px;
    background: white;
}

.nav-container {
    background: var(--main_gradient);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    width: 100%;
    color: white;
}

.nav-menu i {
    font-size: 1.8rem;
}

.nav-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-menu ul li {
    padding: .8rem;
}

#loginToggleButton {
    margin-left: .5rem;
    display: flex;
    align-items: center;
}

#usernameDisplay {
    margin-left: .5rem;
}

/* Login panel  */

#login-form-wrapper {
    overflow: hidden;
    background: white;
    position: absolute;
    left: 0;
    width: 100vw;
    top: -25rem;
    max-height: 100vh;
    z-index: -1;
    transition: .2s ease-out;
    box-shadow: 0 6px 12px rgba(128, 128, 128, 0.48);
}

#login-form-wrapper.login-open {
    max-height: 100vh;
    top: 3.625rem;
    opacity: 1;
}

#login-form-wrapper.login-closed {
    max-height: 0px;
    top: -25rem;
}

#login-form-wrapper ul li a {
    display: block;
    padding: 1rem;
    color: var(--black);
}

#login-form-wrapper ul li i {
    margin: 0 12px;
}

#login-form-wrapper ul li.logout_button a {
    /*background: rgba(231, 231, 231, 0.25);*/
    color: #b83b3b;
}


#overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    animation: appear .2s forwards;
}

#flecha-login {
    font-size: 1rem;
    margin-left: .5rem;
}

#flecha-login.open {
    transform: rotate(180deg);
}

#overlay.closed {
    animation: disappear .2s forwards;
}

@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
    }
}

/* Menu emergente */

#menu-emergente {
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, .9));
    transition: .2s;
}

#menu-emergente nav, #menu-emergente ul {
    height: 100%;
}

#menu-emergente.menu-open {
    right: 0;
}

#menu-emergente.menu-closed {
    right: -110vw;
}

#menu-emergente h2 {
    margin: .65rem 1.5rem;
}

#menu-emergente ul {
    margin-top: .8rem;
    position: relative;
}

.d-none {
    display: none;
}

/*#menu-emergente ul li:nth-child(2n) {
    background: rgba(231, 231, 231, 0.3);
}*/

#menu-emergente ul li {
    border-left: 1px var(--primary) solid;
}

#menu-emergente ul li i {
    color: var(--primary);
    margin: 18px;
    margin-right: 1.5rem;
}

#menu-emergente ul li a {
    display: block;
    padding: .5rem;
    color: var(--primary);
}

#menu-emergente .close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    color: var(--black);
}

/* Media queries */

@media(min-width: 1200px) {
    #menu-emergente {
        width: 40vw;
    }

    #login-form-wrapper {
        width: 30vw;
    }
}
