
#seccionAdmin {
    height: 100vh;
    height: calc(100vh - 3.625rem);
    display: flex;
    flex-direction: column;
    position: relative;
}
.main-container {
    padding: .8rem;
}
.texto-principal {
    line-height: 2.4rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--black);
    text-align: left;
    margin: 15px auto;
    max-width: 90%;
}
.texto-secundario {
    font-size: 1rem;
    text-align: center;
    color: var(--black);
    margin: 1rem auto;
    margin-bottom: 1.8rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 10px;
    border-left: 2px var(--primary) solid;
    max-width: 90%;
}
.texto-empresa{
    font-weight: bold;
    color: var(--black);
    text-align: left;
    margin: 15px auto;
    max-width: 90%;
}
.buscador-empresas{
    max-width: 90%;
    align-self: center;
    margin: 15px auto;
}
#empresas::placeholder{
    color: rgb(77, 77, 77);
}