.container {
    padding: 1.2rem;
}

#seccionClientes {
    max-width: 400px;
}

#listaClientes {
    list-style: none;
}

#listaClientes .cliente-item {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px transparent solid;
}

#listaClientes .cliente-item:nth-child(2n-1) {
    background: #f8f8f8;
}

#listaClientes .cliente-item button {
    margin: 1px;
    padding: .6rem;
    border: none;
    font-weight: bold;
    color: var(--black);
}

#listaClientes .cliente-item button:hover {
    background: #d4d4d4;
}

.focused {
    animation: flash .5s forwards;
}

#modificarClienteForm.disabled {
    opacity: .3;
    pointer-events: none;
}

@keyframes flash {
    from {
        border-color: rgb(0, 102, 255);
    }
    to {
        border-color: rgba(255, 191, 0, 0);
    }
}