# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\MSI\Desktop\GTI\Segundo Cuatri\Proyecto Web\Proyecto Web GTI\Proyecto-Web-GTi\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
