body, html, main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#headerbar {
    box-shadow: 0 -6px 16px rgba(0, 0, 0, .9)
}

.map-section-wrapper {
    /*height: calc(100vh - 3.625rem);*/
    height: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#panelContainer {
    position: absolute;
    bottom: -30vh;
    width: 100vw;
    right: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

#panelContainer.open {
    bottom: 0;
}


#panelContainer .panel_toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 95px;
    transition: .2s;
}


#panelContainer.open .panel_toolbar {
    height: 55px;
}

#panelContainer .panel_toolbar button {
    margin: 0 12px 40px 4px;
    padding: 1rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    border: none;
    height: min-content;
    opacity: 1;
    font-size: 1.2rem;
    color: gray;
    transition: .2s;
}

#panelContainer.open .panel_toolbar button {
    opacity: 0;
    padding: .7rem;
    font-size: 1.2rem;
}

#panelContainer .panel_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    max-height: 40vh;
    padding: .3rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .25), inset 0 2px 6px rgba(107, 107, 107, .15);
    font-size: .9rem;
    opacity: 0;
    transition: .2s;
    border-radius: 12px;
    margin: 20px 20px 45px;
    overflow: hidden;
}

#panelContainer.open .panel_info  {
    opacity: 1;
}

#panelContainer .panel_info .panel_info_body_header {
    padding: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#panelContainer .panel_info .panel_info_body {
    padding: 0 .9rem;
    text-align: justify;
    overflow: auto;
}


span.alert {
    padding: .2rem 1.3rem;
    font-size: .75rem;    
    border-radius: 20px;
    background: rgb(231, 231, 231);
    color: gray;
}

span.alert-risky {
    background: rgb(251, 244, 82);
    color: black;
}

span.alert-danger {
    background: rgb(247, 66, 66);
    color: white;
}

#panelContainer .panel_info a[type=button] {
    display: block;
    margin-bottom: .9rem;
}


/* Popup busqueda */

#overlayPopup {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

#overlayPopup.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 6px;
    padding: 1.4rem;
    text-align: center;
    position: relative;
    width: 600px;
    max-height: 70vh;
    margin: 1rem;

    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    border-bottom: 6px var(--primary) solid;
}

.popup #btn-cerrar-popup {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 1rem;
    position: absolute;
    right: .6rem;
    top: .6rem;

    transition: .3s ease all;
    color: #8c8c8c;
    z-index: 10;
}

.popup #btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 1.8rem;
    margin-bottom: .2rem;
    opacity: 0;
}

.popup h4 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    opacity: 0;

}
.popup ul {
    overflow: scroll;
    min-height: 200px;
    max-height: 40vh;
}

.popup li {
    list-style: none;
    background: #ececec;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
}
.popup li:hover{
    background: #e5e5e5;
}

.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .3s ease .1s forwards; }
.popup.active h4 { animation: entradaSubtitulo .3s ease .1s forwards; }

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}




/* Media Queries */
@media(min-width: 1200px) {
    #panelContainer {
        width: 40vw;
    }
}