body, html, main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#headerbar {
    box-shadow: 0 -6px 16px rgba(0, 0, 0, .9)
}

.map-section-wrapper {
    /*height: calc(100vh - 3.625rem);*/
    height: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#panelContainer {
    position: absolute;
    bottom: -30vh;
    left: 0;
    right: 0;
    transition: .5s;
    display: flex;
    flex-direction: column;
}

#panelContainer.open {
    bottom: 0;
}


#panelContainer .panel_toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 95px;
    transition: .2s;
}


#panelContainer.open .panel_toolbar {
    height: 55px;
}

#panelContainer .panel_toolbar button {
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    border: none;
    height: min-content;
    opacity: 1;
    font-size: 1.2rem;
    color: gray;
    transition: .2s;
}

#panelContainer.open .panel_toolbar button {
    opacity: 0;
    padding: .7rem;
    font-size: 1.2rem;
}

#panelContainer .panel_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    background: white;
    padding: .3rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .25), inset 0 2px 6px rgba(107, 107, 107, .15);
    font-size: .9rem;
    opacity: 0;
    transition: .2s;
    border-radius: 12px;
    margin: 24px 24px 45px;
    overflow: hidden;
}

#panelContainer.open .panel_info  {
    opacity: 1;
}

#panelContainer .panel_info .panel_info_body_header {
    padding: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#panelContainer .panel_info .panel_info_body {
    padding: 0 .9rem;
    text-align: justify;
    overflow: auto;
    height: 120px;
}


span.alert {
    padding: .2rem 1.3rem;
    font-size: .75rem;    
    border-radius: 20px;
    background: rgb(231, 231, 231);
    color: gray;
}

span.alert-risky {
    background: rgb(251, 244, 82);
    color: black;
}

span.alert-danger {
    background: rgb(247, 66, 66);
    color: white;
}

#panelContainer .panel_info a[type=button] {
    display: block;
    margin-bottom: .9rem;
}